In [8]:
import pandas as pd 
import warnings

from sqlalchemy import create_engine, text 
from urllib.parse import quote 

warnings.filterwarnings('ignore')

In [3]:
df = pd.read_csv(r'A:\Artificial intelligence\5.Machine Learning\2.Supervised learning\Decision tree\Assigment\ClothCompany_Data.csv')

In [4]:
df.head()

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,9.50,138,73,11,276,120,Bad,42,17,Yes,Yes
1,11.22,111,48,16,260,83,Good,65,10,Yes,Yes
2,10.06,113,35,10,269,80,Medium,59,12,Yes,Yes
3,7.40,117,100,4,466,97,Medium,55,14,Yes,Yes
4,4.15,141,64,3,340,128,Bad,38,13,Yes,No

#### Store the dataset to the database

In [5]:
user = 'root'  # Username
pw = quote('Reva@0411')  # Password
db = 'ClothesDB' 

engine = create_engine(f"mysql+pymysql://{user}:{pw}@localhost/{db}")

In [9]:
df.to_sql('clothingsSales', con=engine, if_exists='replace', chunksize=1000, index=False)

400

In [ ]:
import joblib 

model = joblib.load('../artifacts/model_trainer/RandomForest.joblib')

In [2]:
model.predict([[0.0, 1.0, 1.0, 1.0, 143.0, 77.0, 25.0, 448.0, 156.0, 43.0, 17.0]])

c:\Users\User\anaconda3\envs\AIenv\lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

array([0.])

In [3]:
import pandas as pd 

for name in pd.read_csv('../artifacts/data_splitting/train.csv').columns:
    print(name)

category__ShelveLoc_Good
category__ShelveLoc_Medium
category__Urban_Yes
category__US_Yes
remainder__CompPrice
remainder__Income
remainder__Advertising
remainder__Population
remainder__Price
remainder__Age
remainder__Education
remainder__Sales